
/* 
#ffffff
#000000
#ecfee4
#081700
#b5e3a2
#25552b
*/


*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    /*border: 2px solid ;*/
}
body{
    margin: 0 auto;
}


header {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color: #ffffff;
    height: 120px;
}
header .profile{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
header img{
        margin: auto;
        margin-left:0.625rem;
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 5px;
}
header p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.125rem;
    margin-left: 0.625rem;
}
nav .onglets{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 0.625rem;
}
nav .onglets a{
    text-decoration: none;
    color: #000000;
    margin-right: 0.625rem;
    cursor: pointer;
}
@media screen and (max-width: 650px) { 
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 160px;
}
header .profile{
    margin-bottom: 15px;
}
}
@media screen and (max-width: 330px) { 
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 250px;
    }
    header .profile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    header img{
        margin: auto;
    }
}
.container1 {
    
    height: 100vh;
    background-image:url("../image/sous-dine.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    text-align: center;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    position: relative;

}
@media screen and (max-width: 900px) {
    .container1 {
        background-image:url("../image/sous-dine.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-color: grey;
        height: 500px;
        align-items: center;    
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #ffffff;
        position: relative;

        }
}
.container1 h1{
@media screen and (max-width: 900px) {   
    font-size: 9vw};
    font-size: 90px;
    font-weight:bold;

}
.container1 .soustitre1{
@media screen and (max-width: 900px) {   
    font-size: 2.5vw;}
    font-size: 25px;
    font-weight:normal;

}
.container1 .soustitre1b{
@media screen and (max-width: 900px) { 
    font-size: 2vw;}
    font-size: 20px;
    font-weight:normal;

}










.soustitre2{
    text-align: center;
    margin-bottom:70px ;
@media screen and (max-width: 900px) { 
    font-size: 5.5vw;}
    font-size: 55px;
}
.boutons button{
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    background-color:#b5e3a2;
    color: #000000;
    outline: none;
@media screen and (max-width: 900px) { 
    font-size: 3vw;}
    font-size: 30px;
}
.container2{
    background-color:#f6fff3;
    padding-top:100px;
    padding-bottom: 100px;
@media screen and (max-width: 900px) { 
    height: 180px;}
@media screen and (max-width: 750px) { 
    height: 150px;}
@media screen and (max-width: 550px) { 
    height: 125px;}
@media screen and (max-width: 375px) { 
    height: 110px;}
@media screen and (max-width: 300px) {
    height: 100px;}
}
.boutons{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
}
.container3{
    background-color: #ffffff;
    margin-top: 20px;
}






.container3 h2{

    text-align: center;
@media screen and (max-width: 900px) { 
    font-size: 5.5vw;}
    font-size: 55px;
}
.container3 p{
    margin-top: 30px;
    text-align: center;
@media screen and (max-width: 900px) { 
    font-size: 2.5vw;}
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}

.container4{
    padding: 20px;
    background-color: #b5e3a2;
}
.container4 h2{
    text-align: center;
    font-size: 40px;

}
.grid-container{
    display: grid;
    margin: 0 100px;

}
form{
    display: grid;
    grid-template-columns: 1fr 1fr ;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "i1 i2"
    "ta ta"
    "vi bt";
}
#firstname {
    grid-area: i1;
    height: 40px;
}
#mail {
    grid-area: i2;
    height: 40px;


}
textarea {
    grid-area: ta;
    height: 40px;
    resize: none;
}
#btn {
    grid-area: bt;
    height: 40px;
    cursor: pointer;
    background: #ecfee4;
}

input, textarea {
    margin: 5px;
    padding: 10px;
    font-size: 1.1rem
;
border-radius: 10px;

}

#btn:hover{
    background: #25552b;
    color:#ffffff ;

}
@media screen and (min-width:1400px) {
    form{
padding-left: 15vw;
padding-right: 15vw;
    }
}
@media screen and (max-width:755px) {
    form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "i1"
        "i2"
        "ta"
        "bt";
    }

}
@media screen and (max-width:505px) {
.grid-container{
    margin: 0 0;
    }
}

footer{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
footer p{
    font-size: 1.25rem;
}
footer img{
    margin-left: 15px ;
    width: 2.25rem;
    height: 2.25rem;
}
/*#ecfee4
#081700
#b5e3a2
#25552b*/